.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logout-modal h2 {
  margin: 0;
  margin-bottom: 10px;
}

.logout-modal p {
  margin: 0;
  margin-bottom: 20px;
}

.logout-modal-buttons {
  display: flex;
  justify-content: space-between;
}

.delete-button, .confirm-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: red;
  color: white;
}

.confirm-button {
  background-color: green;
  color: white;
}
