.subcategory-page {
    background: white;
    width: 100%;
    position: relative;
    top: 0px;
    /* bottom: 100px; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .subcategory-page h2 {
    margin-bottom: 20px;
  }
  
  .add-subcategory-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4A148C;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }
  
  .subcategory-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .subcategory-table th, .subcategory-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .subcategory-image {
    max-width: 50px;
  }
  
  .status-active {
    color: green;
  }
  
  .status-inactive {
    color: red;
  }
  
  .edit-icon, .delete-icon {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .delete-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .cancel-button, .confirm-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  
  .cancel-button {
    background-color: #ccc;
  }
  
  .confirm-button {
    background-color: #4A148C;
  }