body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e5d7f8;
  /* color: #5d478b; */
  /* width: 100vw; */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.loginLogo{
  height: 70px;
}

.title {
  font-size: 24px;
  color: #5d478b;
  margin-bottom: 10px;
}

.subtitle {
  color: #888;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.forgot-password {
  margin-bottom: 20px;
  text-align: end;
}

.forgot-password a {
  color: #5d478b;
  text-decoration: none;
}

.login-button {
  background-color: #5d478b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5d478b;
  padding: 10px 20px;
  color: white;
}

.content {
  flex: 1;
  max-width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.user-icon {
  cursor: pointer;
}



/* category page */
.category-page {
  padding: 20px;
  width: 90%;
  position: relative;
  bottom:100px;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-category {
  background-color: #5d478b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
}

.category-table th, .category-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.category-table th {
  background-color: #f2f2f2;
}

.category-image {
  width: 50px;
  height: 50px;
}

.status-active {
  color: green;
}

.status-inactive {
  color: red;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.action-btn svg {
  color: #5d478b;
}
